{% extends 'shared/template.html' %}

{% block title %}GBKit - Python WebApp Framework{% endblock %}

{% block body %}
            <div style="margin: 0 auto;text-align:center;">
                <img src="/gbkit/asset/images/logo.png" alt="GBConsulting" /><br />
                <h1>GBKit ready!</h1>
                <hr style="border: 3px solid #E5ECF9;" />
                <a href="http://code.google.com/p/gbkit" title="Download a copy of GBKit"><img src="/gbkit/asset/images/project-google.png" style="vertical-align:middle;" alt="[-]" /> Project Home</a> &nbsp; &nbsp; &nbsp; <a href="http://code.google.com/p/gbkit" title="Download a copy of GBKit"><img src="/gbkit/asset/images/project-download.png" style="vertical-align:middle;" alt="[-]" /> Download</a>
                <hr style="border: 3px solid #E5ECF9;" />
                <div id="home_page">
                    <p>2012 &copy; GB Consulting</p>
                    <p id="credits">Powered by <a target="_blank" href="http://www.gbc-italy.com" title="GB Consulting">GBC</a> - Developed by <a target="_blank" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a></p>
                </div>
            </div>
{% endblock %}